footer {
  padding: 3.2rem;
  text-align: center;
  background-color: var(--btn-color);
  margin-top: auto;
  color: whitesmoke;
  text-transform: capitalize;
  font-weight: 500;

  position: relative;
}
